@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f6f7f8;
  --foreground: #101922;
  --primary: #2b8dee;
  --font-lexend: var(--font-lexend), "Lexend", sans-serif;
}

@theme {
  --font-lexend: var(--font-lexend);
  --font-display: var(--font-lexend);
  --color-primary: #2b8dee;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend);
}

.dark {
  --background: #101922;
  --foreground: #f6f7f8;
}

/* Material Symbols Utility */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}